@page "/map"

    <div class="pb-4" style="height: calc(100vh - 3.5rem);">
        <Map 
             Map_Click="(e) => MapClicked((MapLatLng)e)" 
             Map_DoubleClick="(e) => MapClicked((MapLatLng)e)" 
             Map_RightClick="(e) => MapDoubleClicked((MapLatLng)e)"
             MapId="MapElement"
             ></Map>
    </div>

    @code {

        private void MapClicked(MapLatLng point)
        {
            Console.Out.WriteLine($"From Blazor Mouse Clicked - lat:{point.lat} | lng:{point.lng}");
        }

        private void MapDoubleClicked(MapLatLng point)
        {
            Console.Out.WriteLine($"From Blazor Mouse Double Clicked - lat:{point.lat} | lng:{point.lng}");
        }

        private void MapRightClicked(MapLatLng point)
        {
            Console.Out.WriteLine($"From Blazor Mouse Right Clicked - lat:{point.lat} | lng:{point.lng}");
        }

        
    }
